<#include "../../include/_noLeft.html"/>
<@layout>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>任务管理</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>任务</th>
                        <th>负责人</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#list taskPage.getList() as x>
                        <tr>
                            <td>${x.name}</td>
                            <td class="center">${x.person}</td>
                            <td class="center">${x.beginDate}</td>
                            <td class="center">
                                <span>${x.endDate}</span>
                            </td>
                            <td class="center">
                                <#if x.status ==1><span class="label-default label">未开始</span></#if>
                                <#if x.status ==2><span class="label label-info">进行中...</span></#if>
                                <#if x.status ==3><span class="label label-warning">倒计时：3天</span></#if>
                                <#if x.status ==4><span class="label label-danger">超时</span></#if>
                                <#if x.status ==5><span class="label label-success">完成</span></#if>
                            </td>
                        </tr>
                    </#list>
                    </tbody>
                </table>
                <#include "../../include/_paginate.html"/>
                <@paginate currentPage=taskPage.pageNumber totalPage=taskPage.totalPage actionUrl="/task/" />
            </div>
        </div>
    </div>
</div><!--/span-->

</@layout>