<fieldset class="solid">
    <input type="hidden" name="task.id" value="${(task.id)!}" />
    <div class="form-group">
        <label>任务</label>
        <input type="text" class="form-control" name="task.name" value="${(task.name)!}"/>${nameMsg!}
    </div>
    <div class="form-group">
        <label>负责人</label>
        <input type="text" class="form-control" name="task.person" value="${(task.person)!}"/>${personMsg!}
    </div>
    <div class="form-group">
        <label>开始日期</label>
        <input type="text" class="form-control" name="task.begin_date" value="${(task.beginDate)!}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});" readonly="readonly"/>
    </div>
    <div class="form-group">
        <label>结束日期</label>
        <input type="text" class="form-control" name="task.end_date" value="${(task.endDate)!}"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});" readonly="readonly"/>
    </div>


    <div class="form-group">
        <label>状态</label>
        <div class="controls">
            <select class="form-control"  data-rel="chosen" name="task.status" value="${(task.status)!}">
                <option value="1">未开始</option>
                <option value="2">进行中</option>
                <option value="3">倒计时</option>
                <option value="4">超时</option>
                <option value="5">完成</option>
            </select>
        </div>
    </div>



    <button type="submit" class="btn btn-default">Submit</button>
</fieldset>